doctype html
html(lang='ja')
  head
    link(href='css/style.css', rel='stylesheet')
    script(src="http://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
    script(type='text/javascript', src='js/script.js')
  body
    h1 registered
    p #{config.bridge.name}
    p #{config.bridge.username}
    p #{config.bridge.pin}
    p #{config.bridge.port}
    hr
    each accessory in config.accessories
      each val, key in accessory
        if val.get || val.set
          p #{key}:
          ul
          each cmd, behavior in val
            li #{behavior}: #{cmd}
        else
          p #{key}: #{val}
      hr
    each platform in config.platforms
      each val, key in platform
        p #{key}: #{val}
      hr
    a(href='/') index
