div.device
  each val, key in device
    //- Plugin name
    if key == "accessory" || key =="platform"
      - var plugin = ''
      if val.length && val != 'Multi'
        input(value='#{val}', class='plugin')
      else
        - plugin = 'multi'
        input(value='Multi', class='plugin')
    //- Service
    if key == "service"
      select(name='service', class='service')
        each d in data
          if d.displayName == val
            option(value='#{d.displayName}' selected) #{d.displayName}
          else
            option(value='#{d.displayName}') #{d.displayName}
      //- Characteristics
      div.char-box
        each d in data
          if(d.characteristics)
            if d.displayName == val
              div(name='characterisitics' class='characteristic characteristic-#{d.displayName}')
                h3 Characteristics
                each c in d.characteristics
                  p(class="characteristic-#{c.displayName}") #{c.displayName}:
                  if c.displayName == 'Name'
                    input(name="characteristic-#{c.displayName}", value="#{device[c.displayName]}", data-name="#{c.displayName}")
                  else if device[c.displayName]
                    p set: 
                    input(name="characteristic-#{c.displayName}", value="#{device[c.displayName].set}", data-set="set", data-name="#{c.displayName}")
                    p get:
                    input(name="characteristic-#{c.displayName}", value="#{device[c.displayName].get}", data-get="get", data-name="#{c.displayName}")
                  else
                    p set: 
                    input(name="characteristic-#{c.displayName}", value="", data-set="set", data-name="#{c.displayName}")
                    p get:
                    input(name="characteristic-#{c.displayName}", value="", data-get="get", data-name="#{c.displayName}")
                p(class="characteristic-Off") Off:
                  input(name="characteristic-Off", value="#{device['Off']}", data-name="Off")

            else
              div(name='characterisitics' class='characteristic characteristic-#{d.displayName}' class='hidden')
                h3 Characteristics
                p(class="characteristic-Off") Off:
                  input(name="characteristic-Off", value="#{device['Off']}", data-name="Off")
                each c in d.characteristics
                  p(class="characteristic-#{c.displayName}") #{c.displayName}:
                    //- behavior
                    if plugin == 'multi'
                      p set: 
                      input(name="characteristic-#{c.displayName}", value="", data-set="set", data-name="#{c.displayName}")
                      p get:
                      input(name="characteristic-#{c.displayname}", value="", data-get="get", data-name="#{c.displayname}")

  //- Accessory or Platform
  p device:
    select(name='device')
      if acc == true
        option(value='accessory' selected) accessory
        option(value='platform') platform
      else
        option(value='accessory') accessory
        option(value='platform' selected) platform
